.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 10px;

}
.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.nav .item:nth-child(6) {
    padding-top: 50px;
    font-size: 35px;
}

